@inherits LayoutComponentBase

<PageTitle>MyBlogBlazer he</PageTitle>

<div class="page">
   

    <main>
        <Header></Header>

          
            @Body

         <Footer></Footer>
    </main>
</div>

